<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OnlineMenuEntities" connectionString="metadata=res://*/OnlineMenuModel.csdl|res://*/OnlineMenuModel.ssdl|res://*/OnlineMenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THIAGO-HP;initial catalog=OnlineMenu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>